
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center>
    <table>
        <tr>
            <td style="width:610px; vertical-align:top; padding:20px 10px;">
                <!--LEFT TD -->
                <table >
                    <tr>
                        <td valign="top">
                            <p style="text-align:center;display:none;">For National KOL tours:</p>
                            @*<img src="/images/logo/logo_HLX.png" />*@
                       
                            <img src="~/Content/pics/mylogofinal.jpeg" />
          
                            <p>
                                Akash Datt Pathak<br />
                               Aliganj Luvknow in Front of <br />
                                3rd Floor<br />
                                Parsippany, NJ 07054<br />
                                T: 05223529791<br />
                                F: 6306199011<br />
                                E: <a style="color: #002855;" href="apinotech.org">arcanepifotech@gmail.com</a><br />
                            </p>
                        </td>
                        <td valign="top" style="padding-left:100px;">
                            <p style="text-align:center;display:none;">For Regional KOL tours:</p>
                            <img src="/images/logo/logo_JBA.png" style="width:auto;height:42px;" />
                            <p>
                                Lisa Pawlak<br />
                                9401 General Drive<br />
                                Suite 100<br />
                                Plymouth, MI  48170<br />
                                T: 734.459.3144 x 207<br />
                                F: 734.459.3806<br />
                                E: <a style="color: #002855;" href="mailto:SupernusMtgs@JBAshtin.com">SupernusMtgs@JBAshtin.com</a><br />
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style=" padding-top:10px;">
                            <strong>
                                For questions/concerns about Supernus products,
                                please contact:
                            </strong>
                            <br /><br />
                            <center>
                                <p>
                                    Supernus Pharmaceuticals<br />
                                    1550 East Gude Drive<br />
                                    Rockville, MD 20850
                                </p>
                            </center>
                        </td>
                    </tr>
                    <tr style="display:none;">
                        <td style=" padding-top:10px;">
                            Main: 301-838-2500<br />
                            Email: <a href="mailto:info@supernus.com ">info@supernus.com </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br />
                            <center>
                                <p style="font-size:1.2em;">
                                    To report SUSPECTED ADVERSE REACTIONS, contact Supernus Pharmaceuticals at 1-866-398-0833
                                    or the FDA at 1-800-FDA-1088 or www.fda.gov/medwatch
                                </p>
                            </center>

                            <!--     <span class="trademark">*</span> The JB Ashtin Group&rsquo;s regular business hours are from 8:30am to 5:00pm (EST)<br />
                                 A member of the JB Ashtin team is on call during a scheduled regional tour -->
                        </td>
                    </tr>
                </table>
            </td>
            <td style="vertical-align:top; ">
                <!--RIGHT TD -->
                <table style="vertical-align:top;width:0px;">
                    <tr>
                        <td></td>

                    </tr>

                </table>
            </td>
        </tr>
    </table>
</center>



