@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Common.js?v=1.0"></script>
<script src="~/Scripts/File.js"></script>


<div class="container-fluid" style="margin-top:-21px;">
    <div class="row">        
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="~/Content/pics/carousel-1.jpg" style="width:100%;height: 510px;" />
                <div class="carousel-caption">
                    <h2> Jiddu Krishnamurti</h2>
                    <p>“There is no end to education. It is not that you read a book, pass an examination, and finish with education. The whole of life, from the moment you are born to the moment you die, is a process of learning.” </p>
                </div>
            </div>

            <div class="item ">
                <img src="~/Content/pics/carousel-2.jpg" style="width:100%;height: 510px;" />
                <div class="carousel-caption">
                    <h2>Michael J. Gelb</h2>
                    <p>“Research shows that you begin learning in the womb and go right on learning until the moment you pass on. Your brain has a capacity for learning that is virtually limitless, which makes every human a potential genius.”</p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
    </div>

<hr />

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" style="border:1px solid skyblue">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Skilled Instructors</h5>
                        <p>Skill-based instruction ensures that a good amount of instructional time is dedicated to teaching students how to read, think, write, and speak in all subject areas</p>
                    </div><br /><br />
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" style="border:1px solid skyblue">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Online Classes</h5>
                        <p>"Earning my Google Project Management: Professional Certificate is one of the biggest accomplishments I’ve made in my education, and it was a key stepping stone to my new career."</p>
                    </div><br /><br />
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s" style="border:1px solid skyblue">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Software Project</h5>
                        <p>DA Software Project is the complete procedure of software development from requirement gathering to testing and maintenance, carried out according to the execution methodologies, in a specified period of time to achieve intended software product.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s" style="border:1px solid skyblue">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-rss text-primary mb-4"></i>
                        <h5 class="mb-3">Wifi Avilable</h5>
                        <p>With the Affordable Connectivity Program and the Verizon Forward Program, your home may qualify for free internet. Find out more and apply today.</p>
                    </div><br /><br /><br />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text text-center">API TEAM</h2>
            <hr style="height: 1px; width: 20%; background: deepskyblue;">
            <h3 class="text text-center" style="color:black">These teachers are well tranned and expert in various types of technologys</h3>
            <hr />

        </div>

    </div>
    <div class="row">

        <div class="col-sm-3 col-xs-6">
            <div class="card">
                <div class="card-body">

                    <img src="~/Content/pics/team-1.jpg" alt="no img" class="img img-thumbnail" />
                </div>
                <div class="bg-light d-flex justify-content-center pt-2 px-1" style="text-align:center">
                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fa fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fa fa-instagram"></i></a>
                </div>
                <div class="card-footer">
                    <h3 style="text-align:center;color:black">Er. Akash Datt Pathak</h3>
                    <p style="text-align:center"> (M.TECH)<br />Managing Director</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="card">
                <div class="card-body">

                    <img src="~/Content/pics/team-2.jpg" alt="no img" class="img img-thumbnail" />
                </div>
                <div class="bg-light d-flex justify-content-center pt-2 px-1" style="text-align:center">
                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fa fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fa fa-instagram"></i></a>
                </div>
                <div class="card-footer">
                    <h3 style="text-align:center;color:black">Poonam Pathak</h3>
                    <p style="text-align:center"> (M.TECH)<br />.Net Expert</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="card">
                <div class="card-body">
         
                    <img src="~/Content/pics/team-3.jpg" alt="no img" class="img img-thumbnail"  />
                </div>
                <div class="bg-light d-flex justify-content-center pt-2 px-1" style="text-align:center">
                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fa fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fa fa-instagram"></i></a>
                </div>
                <div class="card-footer">
                    <h3 style="text-align:center;color:black">Deepak kummar</h3>
                    <p style="text-align:center"> (B.TECH)<br />Design Expert</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="card">
                <div class="card-body">
                    <img src="~/Content/pics/team-4.jpg" alt="no img" class="img img-thumbnail"  />
                </div>
                <div class="bg-light d-flex justify-content-center pt-2 px-1" style="text-align:center">
                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fa fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fa fa-instagram"></i></a>
                </div>
                <div class="card-footer">
                    <h3 style="text-align:center;color:black">Zainab</h3>
                    <p style="text-align:center"> (B.TECH)<br />Hr Mananagment</p>
                </div>
            </div>
        </div>

    </div>
</div>